# Handling Missing Data

The difference between 
* data found in many **tutorials** and 
* data in the **real world** 

is that real-world data is `rarely clean and homogeneous`.

In particular, many interesting datasets will have some amount of **data missing**.

Here we'll refer to missing data in general as *null*, *NaN*, or *NA* values.

## Preprocessing in Data Mining

* One of the important stages of data mining is preprocessing, where we prepare the data for mining. 
* Real-world data tends to be 
  * incomplete, 
  * noisy, 
  * inconsistent

* An important task when preprocessing the data is to 
  * fill in missing values, 
  * smooth out noise 
  * correct inconsistencies.

## Find missing values in the dataset

Missing values could be: 
* NaN, empty string, ?,-1,-99,-999 and so on. 
* In order to understand if -1 is a missing value or not we could **draw a histogram**. 

If this variable has a uniform distribution between 0 and 1 and it has a **small peak at -1** then -1 is actually a `missing value`.

Missing values can be hidden from us and by hidden mean replaced by some other value beside NaN.   
Therefore, it is always beneficial to plot a histogram in order to identify those values.

In [ ]:
import pandas as pd

# Load the Brittleness index dataset (https://openmv.net/info/brittleness-index)
df = pd.read_csv('data/brittleness-index.csv')
df.head()

In [ ]:
df_nan = df.fillna(value=-99)
df_nan['TK104'].hist();

Using `dataframe.info()` we can figure out which features has missing values:
* TK104  -->  20
* TK105  -->  21 
* TK107  -->  23

In [ ]:
df.info()

## Operating on Null Values

As we have seen, Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.
To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

In case the **number of features is small** we can easily understand that 
* features ‘TK104’ and ‘TK105’ contain missing values.

In [ ]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

## How can you handle missing values?

* There are **several techniques** that can be used. 
* Choosing the right technique is a choice that **depends on the problem domain**,

## 1) Ignore the data row

This is usually done when 
* the **class label** is missing (for classification), 
* many **attributes** are missing from the row (not just one). 

We will get poor performance if the percentage of such rows is high.

### Example

Our goal is to build a model predicting a **student’s success** in college. 
* Data rows who are **missing** the **success column** are not useful in predicting success  
  so they could very well be ignored and removed before running the algorithm.

### Ignore rows or columns using Pandas
Using `dropna()` :

In [ ]:
# Drop rows with any empty cells
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

## 2) Use a global constant to fill in for missing values

Decide on a new global constant value, like 
* “unknown“, 
* “N/A”
* minus infinity
* etc.

that will be used to fill all the missing values.

### Example

Let’s look at the **students enrollment** dataset again. 
* Assuming the `state of residence` attribute data is missing for some students. 
* Filling it up with some state doesn’t really makes sense as opposed to using something like “N/A”.

## 3) Use attribute mean

Replace missing values of an attribute with 
* the **mean** value, it it is continue (real number)
* the **median** value, if its discrete 
* the **mode**...

### Example

In a dataset of **US family incomes**,   
if the average income of a US family is X you can use that value to replace missing income values.

In [ ]:
col_mean = df.mean()
df_filled = df.fillna(df.mean())
df_filled.info()

## 4) Use attribute mean for all samples belonging to the same class

Instead of using the mean (or median) of a certain attribute calculated by looking at all the rows, we can limit the calculations to the relevant class to make the value more relevant to the row we’re looking at.

### Example

Let’s say you have a **cars pricing** dataset that, among other things, classifies cars to 
* “Luxury” and “Low budget” 

and you’re dealing with missing values in the cost field. 

Replacing missing cost of a luxury car with the average cost of all luxury cars is probably more accurate than the value you’d get if you factor in the low budget cars.

## 5) Use a data mining algorithm to predict the most probable value
This is one of the **best and most efficient method** for handling missing data.   
Depending on the class of data that is missing,  
one can either use a **regression** model or **classification** to predict missing data.

The missing value can be determined using 
* regression, 
* inference based tools using Bayesian formalism, 
* decision trees, 
* clustering algorithms (K-Mean\Median etc.).

### Example

we could use 
* **clustering algorithms** to create clusters of rows which will then be used for calculating an attribute mean or median as specified in technique (3).
* **decision tree** to try and predict the probable value in the missing attribute, according to other attributes in the data.

### Pandas example using Titanic dataset
Thus, we are going to fit a linear model and we will try to **predict the missing values** of the ‘`Age`’ feature.

We used a `Linear regression` model to replace the nulls in the feature ‘Age’.

In [ ]:
df2 = pd.read_csv('data/titanic.csv')
df2.info()

In [ ]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
data = df2[['Pclass','SibSp','Parch','Fare','Age']]

#Step-1: Split the dataset that contains the missing values and no missing values 
#        are test and train respectively.
x_train = data[data['Age'].notnull()].drop(columns='Age')
y_train = data[data['Age'].notnull()]['Age']
x_test = data[data['Age'].isnull()].drop(columns='Age')
y_test = data[data['Age'].isnull()]['Age']
#Step-2: Train the machine learning algorithm
linreg.fit(x_train, y_train)
#Step-3: Predict the missing values in the attribute of the test data.
predicted = linreg.predict(x_test)
#Step-4: Let’s obtain the complete dataset by combining with the target attribute.
df2.Age[df2.Age.isnull()] = predicted
df2.info()

 ## 6) Using Algorithms Which Support Missing Values
 
* `KNN` is a machine learning algorithm which works on the principle of distance measure. 
  * This algorithm can be used when there are **nulls** present in the dataset. 
  * While the algorithm is applied, **KNN considers the missing values by taking the majority of the K nearest values**. 
  * In the **titanic** dataset, taking into account the person’s age, sex, class etc, **we will assume that people having same data for the above mentioned features will have the same kind of** `fare`.

Unfortunately, the **SciKit Learn** library for the K-Nearest Neighbour algorithm in Python does not support the presence of the missing values.

Another algorithm which can be used here is `RandomForest`. 
* This model produces a robust result because it works well on non-linear and the categorical data. 
* It adapts to the data structure taking into consideration of the high variance or the bias, producing better results on large datasets.

<div class="alert alert-success">
    
## Practice 
* Use attribute mean for all samples belonging to the same class `Survived`
* Use the attribute `Age` of the Titanic dataset
</div>

In [10]:
# %load exercises/handling_missing_data.py
# load dataset
df2 = pd.read_csv('data/titanic.csv')
df2.info()

# compute mean values for each class
mean_age_cls0 = df2[df2['Survived'] == 0]['Age'].mean()
mean_age_cls1 = df2[df2['Survived'] == 1]['Age'].mean()
print('mean age of not survived:', mean_age_cls0)
print('mean age of survived:', mean_age_cls1)

# replace missing values with mean
df2.loc[(df2.Age.isnull()) & (df2['Survived'] == 0), "Age"] = mean_age_cls0
df2.loc[(df2.Age.isnull()) & (df2['Survived'] == 1), "Age"] = mean_age_cls1

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
mean age of not survived: 30.62617924528302
mean age of survived: 28.343689655172415
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [1]:
import pandas as pd

titanic_df = pd.read_csv('data/titanic.csv')
titanic_df.info()

titanic_tmp = titanic_df[titanic_df['Survived'] == 1]
meanAge = titanic_tmp['Age'].mean()

print('Mean age of survived people'.format(meanAge))

age_filled_column = titanic_df['Age'].fillna(meanAge)
titanic_df['Age'] = age_filled_column
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
Mean age of survived people
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB